<p>
  contes works!
  </p>
  
  <div id="container" class="container">
  <div class="menu-panel"><h3>"The Fox and the stork"</h3>
  <ul id="menu-toc" class="menu-toc"><li class="menu-toc-current"> 
  <!-- ===========================================================================  -->
  <!-- ===========================================================================  -->
        <a href="#item01">Couverture</a></li>
  <li><a href="#item02">Page 1</a></li>
  <li><a href="#item03">Page 2 & 3</a></li>
  <li><a href="#item04">Page 4 & 5</a></li>
  <li><a href="#item05">Page 6 & 7</a></li>
  <li><a href="#item06">Page 8 & 9</a></li>
  <li><a href="#item07">Page 10 & 11</a></li>
  <li><a href="#item08">Page 12 & 13</a></li>
  <li><a href="#item09">Page 14 & 15</a></li>
  <li><a href="#item10">Page 16</a></li>
  <!-- <li><a href="#item11">Page 11</a></li>
  <li><a href="#item12">Page 12</a></li>
  <li><a href="#item13">Page 13</a></li>
  <li><a href="#item14">Page 14</a></li>
  <li><a href="#item15">Page 15</a></li>
  <li><a href="#item16">Page 16</a></li>
  <li><a href="#item17">Page 17</a></li>
  <li><a href="#item18">Page 18</a></li>
  <li><a href="#item19">Page 19</a></li>
  <li><a href="#item20">Page 20</a></li>
  <li><a href="#item21">Page 21</a></li>
  <li><a href="#item22">Page 22</a></li>
  <li><a href="#item23">Page 23</a></li>
  <li><a href="#item24">Page 24</a></li>
  <li><a href="#item25">Page 25</a></li> -->
  <!-- ===========================================================================  -->
  <!-- ==========  DON'T CHANGE  "Credits" OR "Open Source", DIRECTLY BELOW.  ============  -->
  <!-- <li><a href="#itemcredits">Exercice</a></li>
  <li><a href="#item-opensource">Jeux</a></li>   -->
  </ul>
  </div>
  <!--  ===========================================================================  -->
          <div class="bb-custom-wrapper">
          <div id="bb-bookblock" class="bb-bookblock">
  <!--  ===========================================================================  -->
            
            
  
  <!--
  ===================================================================================
  ===========================================================               PAGE 01
  ===================================================================================
   USE THIS  FORMAT GUIDE PATTERN.
   Your file names are CASE SENSITIVE. Store png and mp3 files in the "png" or "mp3" folders.
  ===================================================================================
   01-Image.png     (1280 pixels wide x 720 pixels high)  
   01-Image.mp3    When the image is clicked, all lines of audio script on this page play. 
  ===================================================================================
   01-L-01.mp3      When line/selection 01 is clicked, this audio file plays.    
   01-L-02.mp3      When line/selection 02 is clicked, this audio file plays.  
   01-L-03.mp3      When line/selection 03 is clicked, this audio file plays.
   01-L-04.mp3      When line/selection 04 is clicked, this audio file plays.
                                          ADD or DELETE lines as needed on your page. 
  ===================================================================================
  ===================================================================================
  -->
  <div class="bb-item" id="item01">
  <div class="content">
  <div class="scroller">
  <h2><a href="assets/mp3/01-Image.mp3" class="sm2_link">Couverture</a ></h2>
  <a href="assets/mp3/01-Image.mp3" class="sm2_link"><img src="assets/png/01-Image.png" alt="" class="center75"></a><br><br>  
  <div class="center75">  <h2></h2></div></div></div></div>   
  <!--  ==================================================    END OF PAGE 01   ==   -->
  
  
  
  
  
  <!--
  ===================================================================================
  ===========================================================               PAGE 02
  ===================================================================================
   USE THIS  FORMAT GUIDE PATTERN.
   Your file names are CASE SENSITIVE. Store png and mp3 files in the "png" or "mp3" folders.
  ===================================================================================
   02-Image.png     (1280 pixels wide x 720 pixels high)  
   02-Image.mp3    When the image is clicked, all lines of audio script on this page play. 
  ===================================================================================
   02-L-01.mp3      When line/selection 01 is clicked, this audio file plays.    
   02-L-02.mp3      When line/selection 02 is clicked, this audio file plays.  
   02-L-03.mp3      When line/selection 03 is clicked, this audio file plays.
   02-L-04.mp3      When line/selection 04 is clicked, this audio file plays.
                                          ADD or DELETE lines as needed on your page. 
  ===================================================================================
  ===================================================================================
  -->
  <div class="bb-item" id="item02"><div class="content"><div class="scroller">
  <h2><a href="mrb/01.mp3" class="sm2_link">Page 1</a ></h2>
  <a href="mp3/02-Image.mp3" class="sm2_link"><img src="../assets/png/02-Image.png" alt="" class="center75"></a>   
  <p></p>  <div class="center75"><h2>    
  <!--
  ===================================================================================
  Each line ("L") or selection plays audio based on page number and the numbered line item:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a>
  
  To create a "line break" after the line, add one "break tag" (<br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br>
  
  To create a "new line" after the line, add two "break tags", (<br><br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br><br>
                                                                     EDIT DIRECTLY BELOW
  ===================================================================================
  -->
  
  
  <!-- <a href="mp3/02-L-01.mp3" class="sm2_link">Polar Bear lived at the North Pole in a world of ice and snow.</a> 
  <a href="mp3/02-L-02.mp3" class="sm2_link">It was very cold at the North Pole.</a><br><br> 
  <a href="mp3/02-L-03.mp3" class="sm2_link">Polar Bear’s thick white fur blended nicely with the ice and snow.</a> 
  <a href="mp3/02-L-04.mp3" class="sm2_link">It kept him warm and dry.</a>  -->
  
  
   <p></p></h2></div></div></div></div> 
  <!--  ==================================================    END OF THIS PAGE 02   ==   -->
  
  
  
  
  <!--
  ===================================================================================
  ===========================================================               PAGE 03
  ===================================================================================
   USE THIS  FORMAT GUIDE PATTERN.
   Your file names are CASE SENSITIVE. Store png and mp3 files in the "png" or "mp3" folders.
  ===================================================================================
   03-Image.png     (1280 pixels wide x 720 pixels high)  
   03-Image.mp3    When the image is clicked, all lines of audio script on this page play. 
  ===================================================================================
   03-L-01.mp3      When line/selection 01 is clicked, this audio file plays.    
   03-L-02.mp3      When line/selection 02 is clicked, this audio file plays.  
   03-L-03.mp3      When line/selection 03 is clicked, this audio file plays.
   03-L-04.mp3      When line/selection 04 is clicked, this audio file plays.
                                          ADD or DELETE lines as needed on your page. 
  ===================================================================================
  ===================================================================================
  -->
  <div class="bb-item" id="item03"><div class="content"><div class="scroller">
  <h2><a href="mrb/02.mp3" class="sm2_link">Page 2 & 3</a ></h2>
  <a href="mp3/03-Image.mp3" class="sm2_link"><img src="png/03-Image.png" alt="" class="center75"></a>   
  <p></p>  <div class="center75"><h2>    
  <!--
  ===================================================================================
                     EDIT YOUR OWN SCRIPT SELECTIONS DIRECTLY BELOW. 
  Each line ("L") or selection plays audio based on page number and the numbered line item:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a>
  
  To create a "line break" after the line, add one "break tag" (<br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br>
  
  To create a "new line" after the line, add two "break tags", (<br><br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br><br>
  ===================================================================================
  -->
  
  
  <!-- <a href="mp3/03-L-01.mp3" class="sm2_link">Every day, Polar Bear dove into the freezing ocean to hunt for his favorite food, seals.</a> 
  <a href="mp3/03-L-02.mp3" class="sm2_link"> </a>
  <a href="mp3/03-L-03.mp3" class="sm2_link"> </a> 
  <a href="mp3/03-L-04.mp3" class="sm2_link"> </a>  -->
  
  
   <p></p></h2></div></div></div></div> 
  <!--  ==================================================    END OF THIS PAGE 03   ==   -->
  
  
  
  
  
  <!--
  ===================================================================================
  ===========================================================               PAGE 04
  ===================================================================================
   USE THIS  FORMAT GUIDE PATTERN.
   Your file names are CASE SENSITIVE. Store png and mp3 files in the "png" or "mp3" folders.
  ===================================================================================
   04-Image.png     (1280 pixels wide x 720 pixels high)  
   04-Image.mp3    When the image is clicked, all lines of audio script on this page play. 
  ===================================================================================
   04-L-01.mp3      When line/selection 01 is clicked, this audio file plays.    
   04-L-02.mp3      When line/selection 02 is clicked, this audio file plays.  
   04-L-03.mp3      When line/selection 03 is clicked, this audio file plays.
   04-L-04.mp3      When line/selection 04 is clicked, this audio file plays.
                                          ADD or DELETE lines as needed on your page. 
  ===================================================================================
  ===================================================================================
  -->
  <div class="bb-item" id="item04"><div class="content"><div class="scroller">
  <h2><a href="mrb/04.mp3" class="sm2_link">Page 4 & 5</a ></h2>
  <a href="mp3/04-Image.mp3" class="sm2_link"><img src="png/04-Image.png" alt="" class="center75"></a>   
  <p></p>  <div class="center75"><h2>    
  <!--
  ===================================================================================
                     EDIT YOUR OWN SCRIPT SELECTIONS DIRECTLY BELOW. 
  Each line ("L") or selection plays audio based on page number and the numbered line item:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a>
  
  To create a "line break" after the line, add one "break tag" (<br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br>
  
  To create a "new line" after the line, add two "break tags", (<br><br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br><br>
  ===================================================================================
  --> 
  
  
  <!-- <a href="mp3/04-L-01.mp3" class="sm2_link">Tiger lived far to the south, in a rainforest.</a> 
  <a href="mp3/04-L-02.mp3" class="sm2_link">The rainforest was very hot and damp.</a><br><br> 
  <a href="mp3/04-L-03.mp3" class="sm2_link">Tiger’s thin orange and black fur blended nicely with the shadows and the tall grass of the forest.</a>   
  <a href="mp3/04-L-04.mp3" class="sm2_link">It kept him cool and comfortable.</a>  -->
  
  
   <p></p></h2></div></div></div></div> 
  <!--  ==================================================    END OF THIS PAGE 04   ==   -->       
  
  
  
  
  
  <!--
  ===================================================================================
  ===========================================================               PAGE 05
  ===================================================================================
   USE THIS  FORMAT GUIDE PATTERN.
   Your file names are CASE SENSITIVE. Store png and mp3 files in the "png" or "mp3" folders.
  ===================================================================================
   05-Image.png     (1280 pixels wide x 720 pixels high)  
   05-Image.mp3    When the image is clicked, all lines of audio script on this page play. 
  ===================================================================================
   05-L-01.mp3      When line/selection 01 is clicked, this audio file plays.    
   05-L-02.mp3      When line/selection 02 is clicked, this audio file plays.  
   05-L-03.mp3      When line/selection 03 is clicked, this audio file plays.
   05-L-04.mp3      When line/selection 04 is clicked, this audio file plays.
                                          ADD or DELETE lines as needed on your page. 
  ===================================================================================
  ===================================================================================
  -->
  <div class="bb-item" id="item05"><div class="content"><div class="scroller">
  <h2><a href="mrb/06.mp3" class="sm2_link">Page 6 & 7</a ></h2>
  <a href="mp3/05-Image.mp3" class="sm2_link"><img src="png/05-Image.png" alt="" class="center75"></a>   
  <p></p>  <div class="center75"><h2>    
  <!--
  ===================================================================================
                     EDIT YOUR OWN SCRIPT SELECTIONS DIRECTLY BELOW. 
  Each line ("L") or selection plays audio based on page number and the numbered line item:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a>
  
  To create a "line break" after the line, add one "break tag" (<br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br>
  
  To create a "new line" after the line, add two "break tags", (<br><br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br><br>
  ===================================================================================
  --> 
  
  
  <!-- <a href="mp3/05-L-01.mp3" class="sm2_link">Every day, Tiger would hunt for his favorite food, antelope.</a> 
  <a href="mp3/05-L-02.mp3" class="sm2_link"> </a> 
  <a href="mp3/05-L-03.mp3" class="sm2_link"> </a> 
  <a href="mp3/05-L-04.mp3" class="sm2_link"> </a>  -->
  
  
   <p></p></h2></div></div></div></div> 
  <!--  ==================================================    END OF THIS PAGE 05   ==   -->
  
              
  
  
  
  <!--
  ===================================================================================
  ===========================================================               PAGE 06
  ===================================================================================
   USE THIS  FORMAT GUIDE PATTERN.
   Your file names are CASE SENSITIVE. Store png and mp3 files in the "png" or "mp3" folders.
  ===================================================================================
   06-Image.png     (1280 pixels wide x 720 pixels high)  
   06-Image.mp3    When the image is clicked, all lines of audio script on this page play. 
  ===================================================================================
   06-L-01.mp3      When line/selection 01 is clicked, this audio file plays.    
   06-L-02.mp3      When line/selection 02 is clicked, this audio file plays.  
   06-L-03.mp3      When line/selection 03 is clicked, this audio file plays.
   06-L-04.mp3      When line/selection 04 is clicked, this audio file plays.
                                          ADD or DELETE lines as needed on your page. 
  ===================================================================================
  ===================================================================================
  -->
  <div class="bb-item" id="item06"><div class="content"><div class="scroller">
  <h2><a href="mrb/08.mp3" class="sm2_link">Page 8 & 9</a ></h2>
  <a href="mp3/06-Image.mp3" class="sm2_link"><img src="png/06-Image.png" alt="" class="center75"></a>   
  <p></p>  <div class="center75"><h2>    
  <!--
  ===================================================================================
                     EDIT YOUR OWN SCRIPT SELECTIONS DIRECTLY BELOW. 
  Each line ("L") or selection plays audio based on page number and the numbered line item:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a>
  
  To create a "line break" after the line, add one "break tag" (<br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br>
  
  To create a "new line" after the line, add two "break tags", (<br><br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br><br>
  ===================================================================================
  -->
  
  
  <!-- <a href="mp3/06-L-01.mp3" class="sm2_link">One day, Tiger got tired of the rainforest.</a> <br><br>
  <a href="mp3/06-L-02.mp3" class="sm2_link">“It’s too hot here,” he grumbled.</a> 
  <a href="mp3/06-L-03.mp3" class="sm2_link">“Every day is the same. Hot, hot, hot!”</a> <br><br>    
  <a href="mp3/06-L-04.mp3" class="sm2_link">He decided to head north where it was cooler.</a> 
  <a href="mp3/06-L-05.mp3" class="sm2_link">So, off he went.</a>  -->
  
  
   <p></p></h2></div></div></div></div> 
  <!--  ==================================================    END OF THIS PAGE 06   ==   -->
  
  
  
  
  
  <!--
  ===================================================================================
  ===========================================================               PAGE 07
  ===================================================================================
   USE THIS  FORMAT GUIDE PATTERN.
   Your file names are CASE SENSITIVE. Store png and mp3 files in the "png" or "mp3" folders.
  ===================================================================================
   07-Image.png     (1280 pixels wide x 720 pixels high)  
   07-Image.mp3    When the image is clicked, all lines of audio script on this page play. 
  ===================================================================================
   07-L-01.mp3      When line/selection 01 is clicked, this audio file plays.    
   07-L-02.mp3      When line/selection 02 is clicked, this audio file plays.  
   07-L-03.mp3      When line/selection 03 is clicked, this audio file plays.
   07-L-04.mp3      When line/selection 04 is clicked, this audio file plays.
                                          ADD or DELETE lines as needed on your page. 
  ===================================================================================
  ===================================================================================
  -->
  <div class="bb-item" id="item07"><div class="content"><div class="scroller">
  <h2><a href="mrb/10.mp3" class="sm2_link">Page 10 & 11</a ></h2>
  <a href="mp3/07-Image.mp3" class="sm2_link"><img src="png/07-Image.png" alt="" class="center75"></a>   
  <p></p>  <div class="center75"><h2>    
  <!--
  ===================================================================================
                     EDIT YOUR OWN SCRIPT SELECTIONS DIRECTLY BELOW. 
  Each line ("L") or selection plays audio based on page number and the numbered line item:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a>
  
  To create a "line break" after the line, add one "break tag" (<br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br>
  
  To create a "new line" after the line, add two "break tags", (<br><br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br><br>
  ===================================================================================
  -->
  
  
  <!-- <a href="mp3/07-L-01.mp3" class="sm2_link">That same day, Polar Bear got tired of the ice and snow.</a>
  <a href="mp3/07-L-02.mp3" class="sm2_link">“It’s always so cold here,” he complained.</a> 
  <a href="mp3/07-L-03.mp3" class="sm2_link">“And, I’m tired of hunting seals every day.”</a><br><br>   
  <a href="mp3/07-L-04.mp3" class="sm2_link">He decided to head south where it was nice and warm.</a> 
  <a href="mp3/07-L-05.mp3" class="sm2_link">And, off he went.</a> -->
  
  
   <p></p></h2></div></div></div></div> 
  <!--  ==================================================    END OF THIS PAGE 07   ==   -->
   
      
  
  
  
  <!--
  ===================================================================================
  ===========================================================               PAGE 08
  ===================================================================================
   USE THIS  FORMAT GUIDE PATTERN.
   Your file names are CASE SENSITIVE. Store png and mp3 files in the "png" or "mp3" folders.
  ===================================================================================
   08-Image.png     (1280 pixels wide x 720 pixels high)  
   08-Image.mp3    When the image is clicked, all lines of audio script on this page play. 
  ===================================================================================
   08-L-01.mp3      When line/selection 01 is clicked, this audio file plays.    
   08-L-02.mp3      When line/selection 02 is clicked, this audio file plays.  
   08-L-03.mp3      When line/selection 03 is clicked, this audio file plays.
   08-L-04.mp3      When line/selection 04 is clicked, this audio file plays.
                                          ADD or DELETE lines as needed on your page. 
  ===================================================================================
  ===================================================================================
  -->
  <div class="bb-item" id="item08"><div class="content"><div class="scroller">
  <h2><a href="mrb/12.mp3" class="sm2_link">Page 12 & 13</a ></h2>
  <a href="mp3/08-Image.mp3" class="sm2_link"><img src="png/08-Image.png" alt="" class="center75"></a>   
  <p></p>  <div class="center75"><h2>    
  <!--
  ===================================================================================
                     EDIT YOUR OWN SCRIPT SELECTIONS DIRECTLY BELOW. 
  Each line ("L") or selection plays audio based on page number and the numbered line item:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a>
  
  To create a "line break" after the line, add one "break tag" (<br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br>
  
  To create a "new line" after the line, add two "break tags", (<br><br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br><br>
  ===================================================================================
  -->
  
  
  <!-- <a href="mp3/08-L-01.mp3" class="sm2_link">Polar Bear soon came to a place where the snow stopped.</a> 
  <a href="mp3/08-L-02.mp3" class="sm2_link">Green grass spotted the ground.</a> 
  <a href="mp3/08-L-03.mp3" class="sm2_link">It was warmer there.</a>            
  <a href="mp3/08-L-04.mp3" class="sm2_link">On he went.</a> -->
  
  
   <p></p></h2></div></div></div></div> 
  <!--  ==================================================    END OF THIS PAGE 08   ==   -->
  
  
  
  
  
  <!--
  ===================================================================================
  ===========================================================               PAGE 09
  ===================================================================================
   USE THIS  FORMAT GUIDE PATTERN.
   Your file names are CASE SENSITIVE. Store png and mp3 files in the "png" or "mp3" folders.
  ===================================================================================
   09-Image.png     (1280 pixels wide x 720 pixels high)  
   09-Image.mp3    When the image is clicked, all lines of audio script on this page play. 
  ===================================================================================
   09-L-01.mp3      When line/selection 01 is clicked, this audio file plays.    
   09-L-02.mp3      When line/selection 02 is clicked, this audio file plays.  
   09-L-03.mp3      When line/selection 03 is clicked, this audio file plays.
   09-L-04.mp3      When line/selection 04 is clicked, this audio file plays.
                                          ADD or DELETE lines as needed on your page. 
  ===================================================================================
  ===================================================================================
  -->
  <div class="bb-item" id="item09"><div class="content"><div class="scroller">
  <h2><a href="mrb/14.mp3" class="sm2_link">Page 14 & 15</a ></h2>
  <a href="mp3/09-Image.mp3" class="sm2_link"><img src="png/09-Image.png" alt="" class="center75"></a>   
  <p></p>  <div class="center75"><h2>    
  <!--
  ===================================================================================
                     EDIT YOUR OWN SCRIPT SELECTIONS DIRECTLY BELOW. 
  Each line ("L") or selection plays audio based on page number and the numbered line item:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a>
  
  To create a "line break" after the line, add one "break tag" (<br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br>
  
  To create a "new line" after the line, add two "break tags", (<br><br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br><br>
  ===================================================================================
  -->
  
  
  <!-- <a href="mp3/09-L-01.mp3" class="sm2_link">Meanwhile, Tiger left the rainforest.</a> 
  <a href="mp3/09-L-02.mp3" class="sm2_link">He came to a place where the mountains started.</a> 
  <a href="mp3/09-L-03.mp3" class="sm2_link">Already, it was much cooler.</a>        
  <a href="mp3/09-L-04.mp3" class="sm2_link">On he went.</a> -->
  
  
   <p></p></h2></div></div></div></div> 
  <!--  ==================================================    END OF THIS PAGE 09   ==   -->
     
  
  
  
  
  <!--
  ===================================================================================
  ===========================================================               PAGE 10
  ===================================================================================
   USE THIS  FORMAT GUIDE PATTERN.
   Your file names are CASE SENSITIVE. Store png and mp3 files in the "png" or "mp3" folders.
  ===================================================================================
   10-Image.png     (1280 pixels wide x 720 pixels high)  
   10-Image.mp3    When the image is clicked, all lines of audio script on this page play. 
  ===================================================================================
   10-L-01.mp3      When line/selection 01 is clicked, this audio file plays.    
   10-L-02.mp3      When line/selection 02 is clicked, this audio file plays.  
   10-L-03.mp3      When line/selection 03 is clicked, this audio file plays.
   10-L-04.mp3      When line/selection 04 is clicked, this audio file plays.
                                          ADD or DELETE lines as needed on your page. 
  ===================================================================================
  ===================================================================================
  -->
  <div class="bb-item" id="item10"><div class="content"><div class="scroller">
  <h2><a href="mrb/16.mp3" class="sm2_link">Page 16</a ></h2>
  <a href="mp3/10-Image.mp3" class="sm2_link"><img src="png/10-Image.png" alt="" class="center75"></a>   
  <p></p>  <div class="center75"><h2>    
  <!--
  ===================================================================================
                     EDIT YOUR OWN SCRIPT SELECTIONS DIRECTLY BELOW. 
  Each line ("L") or selection plays audio based on page number and the numbered line item:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a>
  
  To create a "line break" after the line, add one "break tag" (<br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br>
  
  To create a "new line" after the line, add two "break tags", (<br><br>), to the end of the line, like this:
    <a href="mp3/__-L-__.mp3" class="sm2_link">If this text is clicked, the mp3 audio file plays.</a><br><br>
  ===================================================================================
  -->
  
  
  <!-- <a href="mp3/10-L-01.mp3" class="sm2_link"> </a>
  <a href="mp3/10-L-02.mp3" class="sm2_link"> </a>
  <a href="mp3/10-L-03.mp3" class="sm2_link"> </a>  
  <a href="mp3/10-L-04.mp3" class="sm2_link"> </a>  -->
  
  
   <p></p></h2></div></div></div></div> 
  <!--  ==================================================    END OF THIS PAGE 10   ==   -->
   <!-- 
      
  
  <div class="bb-item" id="itemcredits">
  <div class="content">
  <div class="scroller" tyle="position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 33%;">
  <h2>Present Simple</h2>
  
  <iframe src="https://wordwall.net/fr/embed/35056213679a40dab55863aff4313992?themeId=22&templateId=5"  style="position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 426px" frameborder="0" scrolling="no" allowfullscreen></iframe>
  <p> </p>    
  <p></p> <p></p> <p></p> <hr style="width: 100%; height: 3px;"><p></p>
  
  <hr style="width: 100%; height: 3px;"><p></p><p></p><p></p>
  
  </div>
  </div>
  </div>
      
  
  
  <div class="bb-item" id="item-opensource">
  <div class="content">
  <div class="scroller" style="position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 33%;">
  <h2>Apprendre les lettres de l'alphabet en maternelle niveau facile</h2>
  <iframe id="gameplayer" name="ieducatif-fr" src="https://gamedb.ieducatif.fr/83" style="position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
   
  
  <br>
  <br>
  <hr style="width: 100%; height: 2px;"><br>
  <p></p>
  </div>
  </div>
  </div>    
  <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
       -->
      
      
  <!--
  ======================================================================
  =====================================================================
                                                          END OF CONTENT
  ======================================================================
  ======================================================================
  -->
  </div>
  <nav> <span id="bb-nav-prev">←</span> <span id="bb-nav-next">→</span> </nav> <span id="tblcontents" class="menu-button">Table of Contents</span>
  </div>
  </div>
  <!-- /container -->
  <script src="mrb/jquery.min.js"></script>
  <script src="mrb/jquery.mousewheel.js"></script>
  <script src="mrb/jquery.jscrollpane.min.js"></script>
  <script src="mrb/jquerypp.custom.js"></script>
  <script src="mrb/jquery.bookblock.js"></script>
  <script src="mrb/page.js"></script>
  <script>
  $(function() {
  Page.init();
  });
  </script>
  
  <script src="mrb/read-along.js"></script>                
  <script src="mrb/main.js"></script> 
  <script type="text/javascript"> 
     imagerollover()   
   </script>
  