<div class="row">
  <div class="col-md-8">
    <div class=" card-profile">
      <div class="card-avatar">
        <a href="javascript:;">
          <img class="img" src="../assets/img/logo_w.png" />
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Crée compte</h4>
        <p class="card-category">Veillez remlir les champs</p>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Nom</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Prenom</label>
                <input type="email" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Adresse</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Ville</label>
                <input type="email" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Login</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Mot de passe</label>
                <input type="password" class="form-control">
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary pull-right">S'inscrire</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
    <div class=" card card-profile">
      <div class=" card-body">

        <p class="card-description">
          Si vous avez un compte
        </p>
        <a [routerLink]="['/login']"  class="btn btn-primary btn-round">Se Connecter</a>
      </div>
  </div>

  </div>
