  <div class="row">
    <div class="col-md-8">

      <div class=" card-profile">
        <div class="card-avatar">
          <a href="javascript:;">
            <img class="img" src="../assets/img/logo_w.png" />
          </a>
        </div>
      </div>

      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Se Connecter</h4>
          <p class="card-category">Espace Abonné</p>
        </div>
        <div class="card-body">
          <form>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Login</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Mot de passe</label>
                  <input type="password" class="form-control">
                </div>
              </div>
            </div>

            <button [routerLink]="['/dashboard']"  type="submit" class="btn btn-primary pull-right">Login</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
      <div class=" card card-profile">
        <div class=" card-body">

          <p class="card-description">
            Si vous n'avez pas encore de compte
          </p>
          <a [routerLink]="['/inscription']"  class="btn btn-primary btn-round">Inscription</a>
        </div>
      </div>
    </div>
  </div>
